---
import BaseLayout from "../../layouts/BaseLayout.astro";
const tags = ['astro', 'blogging', 'learning in public', 'successes', 'setbacks', 'community', 'Markdown'];
const pageTitle = "标签索引";
---
<BaseLayout pageTitle="标签索引">
  {tags.map((tag) => <li>{tag}</li>)}
</BaseLayout>