---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from '../components/BlogPost.astro';

const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));// 获取所有文章的元数据。返回一个对象数组，每个博客文章对应一个对象。

const pageTitle="我的 Astro 学习笔记";
---
<BaseLayout pageTitle={pageTitle}>
  <p> —— 在这里，我将分享我的 Astro 学习之旅。</p>
  <hr/>
  <ul>
    {allPosts.map((post: any) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
  </ul>
</BaseLayout>
