---
import BaseLayout from './BaseLayout.astro';

const { frontmatter } = Astro.props;
---
<BaseLayout pageTitle={frontmatter.title}>
    <p>作者：{frontmatter.author}</p>
    <p>发表于：{frontmatter.pubDate}</p>
    <slot />
</BaseLayout>
