---
import BaseLayout from './BaseLayout.astro';

const { frontmatter } = Astro.props;
---
<BaseLayout pageTitle={frontmatter.title}>
    <div class="frontmatter">
        <p>作者：{frontmatter.author}</p>
        <p>发表于：{frontmatter.pubDate}</p>
        <p>概要：{frontmatter.description}</p>
    </div>
    <slot />

</BaseLayout>
